<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>To Do List Version 2</title>
</head>
<body>
<h1> <%= kindOfDay %> </h1>

<ul>
  <% for(var i=0; i<newListItems.length; i++){ %>
    <li> <%= newListItems[i] %>
  <% } %>
</ul>

  <form action="/" method="post">
    <input name="newItem" type="text" placeholder="Enter New Item">
    <button name="button" type="submit">Add Item</button>
</form>

<h3>You have entered <%=itemNumber%> items.</h3>

</body>
</html>
